 body{
  background:  rgb(212, 224, 235);
 }

.players{
   display: flex;
   gap: 115px;
}


.board {
  display: flex;
  flex-direction: column;
  width: 80px;
  margin-left: 50px;
}

.boardrow {
  display: flex;
gap: 4px;
 width: 250px;
 height: 55px;
 margin-top: 10px;
}

.square {
   background: rgb(132, 188, 209);
  border: 1px solid #7c97a8;
  font-size: 24px;
  height: 60px;
  width: 60px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
    box-shadow:3px 3px darkgray;
    display: flex;
    justify-content: center;
    color: #413b3b;
}

.square:focus{
 outline:   3px auto rgb(83, 122, 158);;
}

.newgame{
   margin-top: 30px;
}

.reset{
background: rgb(142, 185, 226);
}

.nextGame{
background: rgb(142, 185, 226);
margin-left: 10px;
}